<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta itaque facere, velit neque atque doloremque perferendis officiis porro alias eaque reiciendis possimus quisquam, iure dolorem voluptate numquam tenetur nesciunt molestias consequuntur et a vero! Delectus quo fugiat maiores adipisci eligendi.</p>
    </div>
</div>